li {
  display: flex;
  justify-content: space-between;

  div {
    span:first-child {
      font-weight: bolder;
    }

    button {
      cursor: pointer;
      background-color: white;
    }
  }
}
