.Nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 57px;
  margin: 0 auto;
  z-index: 3;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  box-align: center;
  justify-content: space-between;
  flex-direction: column;

  .boxInNav {
    display: flex;
    height: 57px;
    margin: 0 auto;
    max-width: 935px;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .logo {
      a {
        display: flex;
        position: relative;
        left: 0;
        width: 360px;
        height: 29px;
        align-content: stretch;
      }
    }

    .inputbox {
      position: relative, center;
      width: 215px;
      height: 28px;
      flex: 0 1 auto;
      min-width: 125px;
      box-sizing: border-box;

      .searchIcon {
        display: inline;
        position: absolute;
        top: 10px;
        left: 84px;
        clear: both;
        z-index: 10;
        background-image: url(/img/icons.png);
        background-size: 440px 411px;
        background-position: -428px -241px;
        background-repeat: no-repeat;
        margin-right: 6px;
      }

      input {
        padding: 3px 10px 3px 26px;
        border: 1px solid #dbdbdb;
        font-size: 16px;
        text-align: center;
        z-index: 2;
        box-sizing: border-box;
        background-color: #fafafa;
        border-radius: 3px;
        line-height: 18px;
        align-items: center;

        ::placeholder {
          color: #dbdbdb;
        }

        :focus {
          outline-color: #fafafa;
        }
      }
    }

    .iconsBigBox {
      display: flex;
      position: relative;
      width: 360px;
      height: 22px;
      align-content: center;
      flex-flow: row wrap;
      justify-content: flex-end;

      .iconsSmallBox {
        display: flex;
        height: 100%;
        padding-left: 24px;
        flex-direction: row;
        white-space: nowrap;

        a {
          .firstIcon {
            width: 22px;
            height: 22px;
          }

          .icons {
            width: 22px;
            height: 22px;
            margin-left: 22px;
            align-items: center;
          }

          .UserIcon {
            width: 22px;
            height: 22px;
            color: black;
            margin-left: 22px;
            align-items: center;
          }
        }

        .haveMessages {
          display: flex;
          top: -6px;
          right: -8px;
          height: 18px;
          background-color: #ed4956;
          border-radius: 100px;
          min-width: 18px;
          align-items: center;

          div {
            padding: 0 3px;
            color: white;
            font-size: 13px;
            justify-content: center;
          }
        }
      }
    }
  }
}
