.MainEunjin {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  align-items: center;
  justify-content: center;
  article,
  div,
  footer,
  header,
  main,
  nav,
  section {
    align-items: stretch;
    box-direction: normal;
    flex-direction: column;
  }

  main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 114px;
    flex-direction: column;
    align-items: center;

    section {
      display: flex;
      position: relative;
      width: 100%;
      margin: 0 auto;
      align-items: center;
      max-width: 935px;
      box-sizing: border-box;
      flex-flow: row nowrap;
      max-width: 935px;

      .feeds {
        display: flex;
        float: left;
        width: 614px;
        height: 100%;
        margin-right: 28px;
        background-color: rgb(250, 250, 250);

        .storybox {
          height: 120px;
          margin: 24px 0;
          padding: 16px 0;
          border: 1px solid #dbdbdb;
          background-color: white;

          .stories {
            height: 84px;

            div {
              height: 100%;
              padding-left: 10px;

              ul {
                height: 100%;

                li {
                  display: inline-block;
                  height: 100%;

                  div {
                    top: 2px;
                    width: 80px;
                    margin: 4px 0 8px;
                    padding: 0 10px;

                    img {
                      display: flex;
                      width: 66px;
                      height: 66px;
                      background: 0 0;
                      text-align: center;
                      flex-direction: column;
                      border-radius: 100px;
                    }

                    div {
                      display: block;
                      top: 68px;
                      font-size: 12px;
                      overflow: hidden;
                      letter-spacing: 0.01em;
                      max-width: 74px;
                      line-height: 14px;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                  }
                }
              }
            }
          }
        }

        .postContainer {
          display: flex;
          position: relative;

          .postBox {
            position: relative;
            flex-direction: column;

            article {
              display: flex;
              position: relative;
              border: 1px solid #dbdbdb;
              border-radius: 3px;
              margin-bottom: 60px;

              header {
                display: flex;
                position: relative;
                height: 60px;
                padding: 16px;
                box-align: center;
                align-items: center;
                flex-direction: row;
                border-bottom: 1px solid #efefef;
                box-sizing: border-box;
                background-color: white;

                .userImgOfArticle {
                  img {
                    display: block;
                    position: relative;
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                  }
                }

                .userNameAndMore {
                  margin-left: 14px;
                  font-weight: bolder;

                  a,
                  a:visited {
                    color: black;
                  }
                }
              }

              .mainImgAndIcons {
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .belowSquarePhoto {
                display: flex;
                position: relative;
                align-items: stretch;
                box-sizing: border-box;
                background-color: white;

                .iconsInArticle {
                  display: flex;
                  height: 40px;
                  padding: 0 8px;
                  flex-direction: row;
                  justify-content: space-between;

                  div {
                    margin-top: 4px;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                      width: 24px;
                      height: 24px;
                      margin: 8px;
                    }
                  }
                }

                .likedNums {
                  height: 17.3px;
                  padding: 8px 16px 2px;
                  flex-direction: row;
                  margin-bottom: 16px;
                  align-items: flex-start;

                  div {
                    display: block;
                    padding: 0;
                    font-weight: bolder;
                  }
                }

                .feedStringBox {
                  padding: 0 16px;

                  .postingMemo span:first-child {
                    padding: 0 10px 0 2px;
                    font-weight: bolder;
                  }

                  .repliesOfPosting {
                    .actOfReplyNums {
                      display: block;
                      padding: 6px 0;
                      color: #8e8e8e;
                    }

                    .deactOfReplyNums {
                      display: none;
                    }
                  }
                }

                .uploadedTime {
                  padding: 0 16px 4px;
                  color: #8e8e8e;
                  font-size: 11px;
                }

                .typingReplyBox {
                  display: flex;
                  height: 56px;
                  padding: 0 16px;
                  border: 1px solid rgb(219, 219, 219);
                  font-size: 14px;
                  box-sizing: border-box;
                  margin-top: 4px;
                  line-height: 18px;
                  justify-content: center;

                  .writeReply {
                    display: flex;
                    width: 100%;

                    input {
                      width: 100%;
                      height: 25px;
                      border: 0px;
                      resize: none;
                    }

                    button {
                      width: 70px;
                      border: 0px;
                      cursor: pointer;
                      background-color: white;
                    }

                    .activated {
                      color: rgb(0, 149, 246);
                    }

                    .deactivated {
                      color: rgb(192, 223, 253);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .mainRight {
        display: flex;
        position: absolute;
        right: 0%;
        width: 293px;
        height: 100%;
        box-align: stretch;
        box-sizing: border-box;
        margin-bottom: 30px;

        .mainRightBox {
          position: sticky;
          top: 92px;
          height: 500px;

          .mainRightUserInfo {
            display: flex;
            margin: 18px 0 10px;
            flex-flow: wrap row;

            span img {
              width: 56px;
              height: 56px;
              padding: 4px;
              border-radius: 100px;
            }

            .mainRightUserName {
              margin: 16px 0 0 12px;

              div:first-child {
                font-weight: bolder;
                padding-bottom: 2px;
              }

              div:nth-child(2) {
                color: gray;
                font-size: 13px;
                padding-top: 2px;
              }
            }
          }

          .recommendationsForUser {
            margin-bottom: 12px;

            .str {
              display: flex;
              padding: 4px 0;
              justify-content: space-between;
              flex-flow: wrap row;

              div:first-child {
                color: gray;
                font-size: 14px;
                font-weight: 600;
              }

              div:nth-child(2) {
                font-size: 12px;
                font-weight: 600;
              }
            }

            ul li {
              display: flex;
              padding: 8px 0;
              flex-flow: wrap row;
              justify-content: space-between;

              .imgAndStr {
                display: flex;
                flex-flow: wrap row;
                align-items: center;

                img {
                  width: 42px;
                  height: 42px;
                  border-radius: 100px;
                }

                span {
                  padding: 4px;

                  p {
                    padding: 2px 0;

                    :first-child {
                      font-weight: 700;
                    }

                    :last-child {
                      color: gray;
                      font-size: 12px;
                      font-weight: 400;
                    }
                  }
                }
              }

              .follow {
                right: 0;
                color: rgb(0, 149, 246);
                font-size: 14px;
                align-self: center;
                font-weight: 600;
              }
            }
          }

          .mainRightFooter {
            color: lightgray;
            font-size: 11px;
            font-weight: 400;
            line-height: 13px;
          }
        }
      }
    }
  }
}
